/.DS_Store
**/.DS_Store
/*.sublime-project
/*.sublime-workspace
/designs

/www/img

/www/projects/**/img
/www/projects/**/*.mov
/www/projects/**/*.mp4
/www/projects/**/*.m4a




site mock up.png
freeraphael mock2.psd