/.DS_Store
**/.DS_Store
/*.sublime-project
/*.sublime-workspace
/designs
/www/img
/www/projects/**/img
**/*.mov
**/*.mp4
**/*.m4a
**/*.pdf
**/*.png
**/*.jpg
**/*.jpeg



site mock up.png
freeraphael mock2.psd