/.DS_Store
**/.DS_Store
/*.sublime-project
/*.sublime-workspace
/www/projects/**/img/*.jpg
/www/projects/**/img/*.jpeg
/www/projects/**/img/*.gif
/www/projects/**/img/*.png
site mock up.png
freeraphael mock2.psd