html, body {
	position: fixed;
	top: 0; left: 0;
	margin: 0; padding: 0;
	width: 100%; height: 100%;
	background: #FFF;
	overflow-x: auto;
}

/* 
   Main
   ========================================================================== */
.main-container {
	position: relative;
	width: 800px; height: 100%;
	margin: 0 auto;
	overflow: visible;
	z-index: 1;
}

.left-panel {
	position: fixed;
	width: 50%; height: 100%;
	left: 0; top: 0;
	cursor: w-resize;
	z-index: 2;
}

.right-panel {
	position: fixed;
	width: 50%; height: 100%;
	left: 50%; top: 0;
	cursor: e-resize;
	z-index: 2;
}



/* 
   Image
   ========================================================================== */
.image-wrap {
	position: absolute;
	width: 100%;
	top: 50%;
	/*------- Trick for vertical centering done by JQuery -------*/
	/*height: 800px;*/
	/*margin-top: -400px;*/
}

.image-wrap .image {
	width: 100%;
	height: 100%;
	background-size: contain;
}

.caption {
	position: absolute;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
	text-align: center;
	margin-top: 10px;
}

.caption::selection {
	color: black;
	background: none;
}