html, body {
	position: fixed;
	top: 0; left: 0;
	margin: 0; padding: 0;
	width: 100%; height: 100%;
	background: #FFF;
	overflow-x: auto;

	/*
		little hack to prevent 
		users from selecting images when
		going thru slideshow.
	 */
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* 
   Main
   ========================================================================== */
.main-container {
	position: relative;
	width: 800px; height: 100%;
	margin: 0 auto;
	overflow: visible;
	z-index: 1;
}

.left-panel {
	position: fixed;
	width: 50%; height: 100%;
	left: 0; top: 0;
	cursor: w-resize;
	z-index: 2;
}

.right-panel {
	position: fixed;
	width: 50%; height: 100%;
	left: 50%; top: 0;
	cursor: e-resize;
	z-index: 2;
}


.back-btn {
	display: block;
	position: fixed;
	width: 50px; height: 50px;
	top: 25px; left: 25px;
	font-size: .8em;
	color: black;
	text-decoration: none;
	text-align: center;
	z-index: 5;
}

/* 
   Image
   ========================================================================== */
.media-wrap {
	position: absolute;
	width: 100%;
	top: 50%;
}

.media-wrap .image, .media-wrap .video {
	width: 800px;
	height: 600px;
}

.caption {
	position: absolute;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
	text-align: center;
	margin-top: 10px;
}

/*
Show this on Error
   ========================================================================== */
.big-error {
	width: 100%; height: 100%;
	padding: 50px; margin: 0;
	background: red;
	color: white; 
	font-size: 1em;
	font-family: sans-serif;
}

/*
Little Hack to prevent text selection
   ========================================================================== */
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}